html {
    font-size: 62,5%;
}

body { 
font-family: "Poppins", serif;
font-size: 1.5rem;
padding: 2rem;
background-image: url(../img/sfondo.png);
line-height: 1.5;

}

header {
 text-align: center;
 background-color: rgb(7, 93, 93);
 padding: 2rem;
 color: white;
 font-weight: bold;
 text-transform: uppercase;
}

div img { 
    margin-bottom: 2rem;
}

header nav ul {
    margin-top: 2rem;
}

header nav li a {
    color: white;
    text-decoration: none;
}

ul li a::before {
    content: "=>";
}

ul li a::after {
    content: "<=";
}
article h1 {
    font-size: 1.5em;
    font-weight: bold;
}

.grigio {
    color: grey;
    font-size: 0.8em;
    padding: 1em;
}

main, aside {
    background-color: white;
    padding: 1em;
    margin: auto;
}

.p1{
    padding: 1em;
}

article strong {
    color: rgb(94, 17, 165);
    font-weight: bold;
}

.p2 {
    padding: 0.5em
}

footer {
    background-color: rgb(7, 93, 93);
    color: white;
}
footer a {
    color: purple;
    font-weight: bold;
}

footer p
{
    padding: 1em;
}