body {
    background-color: rgb(212, 228, 207);
}

header, section {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 10px;
}

header input, header button {
    display: inline-block;
    padding: 1em;
    margin: 1.5em ;
    width: 30%;
}

header h1 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    color: rgb(3, 120, 69);
    font-style: oblique;
    
    
}

header button {
    color: black;
    background-color:rgb(180, 216, 118);
    font-family: "Dancing Script", cursive;
    border-color: rgb(177, 202, 54);

}